#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}


.background-gradient {
  background: linear-gradient(to bottom, #f0f0f0, #333333);
  /* Customize the gradient colors and direction as needed */
}
